<%- contentFor('body') %>
    <div class="row">
        <div class="slider">
            <ul class="slides">
                <li>
                    <img src="../images/background3.png">
                    <!-- random image -->
                    <div class="caption center-align" id="carousel-slider">
                        <h1 class="home-title" style="color:#fff">HI! I'm <span class="cyan-text">THANG PHAM</span></h1>
                        <h2 class="home-subtitle" style="color:#fff">WEBSITE DEVELOPER</h2>
                        <a id="contact_link" href="#" class="waves-effect waves-light btn">CONTACT ME</a>
                    </div>
                </li>
                <li>
                    <img src="../images/background2.png">
                    <!-- random image -->
                    <div class="caption center-align" id="carousel-slider">
                        <h1 class="home-title" style="color:#fff">HI! I'm <span class="cyan-text">THANG PHAM</span></h1>
                        <h2 class="home-subtitle" style="color:#fff">WEBSITE DEVELOPER</h2>
                        <a id="contact_link" href="#" class="waves-effect waves-light btn">CONTACT ME</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!--________________________end header image_________________________-->

    <div class="container" style="width: 90%" id="sidebar">
        <div class="row" id="tabs_menu_link">
            <div class="col s12 m12 l12">
                <ul id="tabs-swipe-demo" class="tabs grey lighten-3">
                    <li class="tab col s4"><a id="about_me_link" class="active" href="#" style="color:#00bcd4; font-size:18px;">ABOUT ME</a></li>
                    <li class="tab col s4"><a id="resume_link" href="#" style="color:#00bcd4; font-size:18px;">RESUME</a></li>
                    <li class="tab col s4"><a id="contact_link" href="#" style="color:#00bcd4; font-size:18px;">CONTACT</a></li>
                </ul>
            </div>
        </div>
        <!--________________________end menu_________________________-->

        <div class="parallax">
            <div class="row">
                <div class="col s12 m3 l3">
                    <div class="card hoverable">
                        <div class="card-image" id="">
                            <img src="../images/pic_iam.jpg">
                            <!-- <a class="btn-floating halfway-fab waves-effect waves-light red" id="spnDiscovery"><i class="material-icons">contact_phone</i></a> -->
                        </div>
                        <div class="card-content">
                            <span class="about-subtitle"> Pham Ngoc Thang</span>
                            <br>
                            <i class="fa fa-tint" aria-hidden="true"></i><span class="about-info"> Software Enginner</span>
                            <br/>
                            <i class="fa fa-bookmark" aria-hidden="true"></i><span class="about-info"> Web Developer</span>
                            <br>
                            <i class="fa fa-building" aria-hidden="true"></i><span class="about-info"> TMA Solutions</span>
                            <br>
                             <!--**************************personal information****************************-->
                            <div class="personal_info_box">
                                <p style="color: #fff"><i class="fa fa-check-circle-o m-right-xs"></i> Technical Skills </p>
                            </div>
                            <p></i><span class="personal-info">  <u>Programmming languages:</u></span> </p>
                            <p></i><span class="personal-info">  C#, Java, JavaScript, Angular JS, jQuery, Node JS, PHP, HTML, CSS. </span></p>
                            <br>
                            <p></i><span class="personal-info">  <u>Frameworks/ Platforms:</u></span> </p>
                            <p></i><span class="personal-info">  Angular JS, Express framework, Entity framework, MVC, ASP.NET </span></p>
                            <br>
                            <p></i><span class="personal-info">  <u>Database management systems:</u></span> </p>
                            <p></i><span class="personal-info">  SQL Server, HeidiSQL, SQLite, PostgreSQL. </span></p>
                            <br>
                            <p></i><span class="personal-info">  <u>IDEs:</u></span> </p>
                            <p></i><span class="personal-info">  Eclipse, Visual Studio, Visual Studio Code, Android Studio, Sublime text, PhpStorm. </span></p>
                            <br>
                            <p></i><span class="personal-info">  <u>Version control: </u></span> </p>
                            <p></i><span class="personal-info">  SVN, Git, SourceTree </span></p>
                            
                            <br>
                            <!--**************************personal information****************************-->
                            <div class="personal_info_box">
                                <p style="color: #fff"><i class="fa fa-check-circle-o m-right-xs"></i> Personal Information </p>
                            </div>
                            <p><i class="fa fa-phone"></i><span class="personal-info">  Phone: (+84) 973.862.927</span></p>
                            <p><i class="fa fa-envelope"></i><span class="personal-info">  Email: thangpham.it92@gmail.com</span></p>
                            <p><i class="fa fa-map-marker"></i><span class="personal-info">  Address: 257/88/15 Dang Thuc Vinh street, 12 district, HCM City</span></p>
                        </div>
                    </div>
                </div>
                <!--________________________end general info_________________________-->

                <div class="col s12 m9 l9">
                    <div class="card hoverable">
                        <div role="tabpanel" data-example-id="togglable-tabs" id="about_me">
                            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">
                                        <span class="skill_tabs_box">ABOUT ME</span>
                                    </a>
                                </li>
                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                                    <div class="x_content" style="display: block;">
                                        <ul style="margin: 25px">
                                            <li style="color: #727272; font-size: 16px; line-height: 28px;">
                                                <ul>
                                                    - I am young Website developer with over 2 years of experience in software development including:
                                                </ul>
                                                <ul style="margin-left: 25px">
                                                    + 0.5 year of experience in android development.
                                                </ul>
                                                <ul style="margin-left: 25px">
                                                    + Over 2 years of experience in website development (backend & frontend).
                                                </ul>
                                                <ul>
                                                    - I have been working to build great products on Japan projects, United States projects.
                                                </ul>
                                                <ul>
                                                    - My goals is to become a Software Architecture and then a Chief Technical Officer, developing great products and building great teams.
                                                </ul>
                                                <ul>
                                                    - I am looking for a professional environment where I have the opportunities to learn more in programming and achieve my goals. 
                                                </ul>
                                            </li>
                                        </ul>
                                        <!--<ul style="border-bottom: 1px #73879C solid"></ul>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--________________________end about me_________________________-->

                        <br>
                        <div role="tabpanel" data-example-id="togglable-tabs" id="resume">
                            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">
                                        <span class="skill_tabs_box">WORK EXPERIENCES</span>
                                    </a>
                                </li>
                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                                    <div class="row">
                                        <div class="col s12 m4 l4">
                                            <div class="card grey lighten-4">
                                                <div class="card-content">
                                                    <span class="card-title activator grey-text text-darken-4" style="color: #727272 !important; font-size: 15px; margin-bottom: -10px;">Nov/2016 - Now
                                                </div>
                                                <div class="card-image waves-effect waves-block waves-light">
                                                    <img class="activator" src="images/pf1.jpg">
                                                </div>
                                                <div class="card-content">
                                                    <span class="card-title activator grey-text text-darken-4" style="color: #00bcd4 !important; font-size: 16px">Web Developer<i class="material-icons right">more_vert</i></span>
                                                    <p style="color: #727272;font-size: 15px">HRM PROJECT</p>
                                                </div>
                                                <div class="card-reveal experience_bg_item">
                                                    <span class="card-title grey-text text-darken-4" style="color: #00bcd4 !important; font-size: 16px">Web Developer<i class="material-icons right">close</i></span>
                                                    <p style="color: #727272;font-size: 15px">HRM PROJECT</p>
                                                    <div style="height:2px; background-color: #727272;"></div>
                                                    <br>
                                                    <p class="grey-text text-darken-3">- PHP</p>
                                                    <p class="grey-text text-darken-3">- Symfony framework</p>
                                                    <p class="grey-text text-darken-3">- JavaScript, jQuery, Ajax</p>
                                                    <p class="grey-text text-darken-3">- Bootstrap</p>
                                                    <p class="grey-text text-darken-3">- HTML/CSS</p>
                                                    <p class="grey-text text-darken-3">- Responsive web design</p>
                                                    <p class="grey-text text-darken-3">- HeidiSQL</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col s12 m4 l4">
                                            <div class="card grey lighten-4">
                                                <div class="card-content">
                                                    <span class="card-title activator grey-text text-darken-4" style="color: #727272 !important; font-size: 15px; margin-bottom: -10px;">Jun/2016 - Nov/2016
                                                </div>
                                                <div class="card-image waves-effect waves-block waves-light">
                                                    <img class="activator" src="images/pf3.jpg">
                                                </div>
                                                <div class="card-content">
                                                    <span class="card-title activator grey-text text-darken-4" style="color: #00bcd4 !important; font-size: 16px">Web Developer<i class="material-icons right">more_vert</i></span>
                                                    <p style="color: #727272;font-size: 15px">MESHWORK PROJECT</p>
                                                </div>
                                                <div class="card-reveal experience_bg_item">
                                                    <span class="card-title grey-text text-darken-4" style="color: #00bcd4 !important; font-size: 16px">Web Developer<i class="material-icons right">close</i></span>
                                                    <p style="color: #727272;font-size: 15px">MESHWORK PROJECT</p>
                                                    <div style="height:2px; background-color: #727272;"></div>
                                                    <br>
                                                    <p class="grey-text text-darken-3">- AngularJS</p>
                                                    <p class="grey-text text-darken-3">- Sails framework</p>
                                                    <p class="grey-text text-darken-3">- JavaScript, jQuery</p>
                                                    <p class="grey-text text-darken-3">- Bootstrap</p>
                                                    <p class="grey-text text-darken-3">- HTML/CSS</p>
                                                    <p class="grey-text text-darken-3">- Responsive web design</p>
                                                    <p class="grey-text text-darken-3">- PostgreSQL</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col s12 m4 l4">
                                            <div class="card grey lighten-4">
                                                <div class="card-content">
                                                    <span class="card-title activator grey-text text-darken-4" style="color: #727272 !important; font-size: 15px; margin-bottom: -10px;">Mar/2016 - Jun/2016
                                                </div>
                                                <div class="card-image waves-effect waves-block waves-light">
                                                    <img class="activator" src="images/pf2.jpg">
                                                </div>
                                                <div class="card-content">
                                                    <span class="card-title activator grey-text text-darken-4" style="color: #00bcd4 !important; font-size: 16px">Web Developer<i class="material-icons right">more_vert</i></span>
                                                    <p style="color: #727272;font-size: 15px">LEAVE TOOL</p>
                                                </div>
                                                <div class="card-reveal experience_bg_item">
                                                    <span class="card-title grey-text text-darken-4" style="color: #00bcd4 !important; font-size: 16px">Web Developer<i class="material-icons right">close</i></span>
                                                    <p style="color: #727272;font-size: 15px">LEAVE TOOL</p>
                                                    <div style="height:2px; background-color: #727272;"></div>
                                                    <br>
                                                    <p class="grey-text text-darken-3">- C#</p>
                                                    <p class="grey-text text-darken-3">- ASP.NET</p>
                                                    <p class="grey-text text-darken-3">- Entity framework</p>
                                                    <p class="grey-text text-darken-3">- AngularJS</p>
                                                    <p class="grey-text text-darken-3">- JavaScript</p>
                                                    <p class="grey-text text-darken-3">- Bootstrap</p>
                                                    <p class="grey-text text-darken-3">- HTML/CSS</p>
                                                    <p class="grey-text text-darken-3">- Responsive web design</p>
                                                    <p class="grey-text text-darken-3">- SQLServer</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col s12 m4 l4">
                                            <div class="card grey lighten-4">
                                                <div class="card-content">
                                                    <span class="card-title activator grey-text text-darken-4" style="color: #727272 !important; font-size: 15px; margin-bottom: -10px;">Jul/2015 - Mar/2016
                                                </div>
                                                <div class="card-image waves-effect waves-block waves-light">
                                                    <img class="activator" src="images/pf2.jpg">
                                                </div>
                                                <div class="card-content">
                                                    <span class="card-title activator grey-text text-darken-4" style="color: #00bcd4 !important; font-size: 16px">Web Developer<i class="material-icons right">more_vert</i></span>
                                                    <p style="color: #727272;font-size: 15px">TRAINING TOOL</p>
                                                </div>
                                                <div class="card-reveal experience_bg_item">
                                                    <span class="card-title grey-text text-darken-4" style="color: #00bcd4 !important; font-size: 16px">Web Developer<i class="material-icons right">close</i></span>
                                                    <p style="color: #727272;font-size: 15px">TRAINING TOOL</p>
                                                    <div style="height:2px; background-color: #727272;"></div>
                                                    <br>
                                                    <p class="grey-text text-darken-3">- C#</p>
                                                    <p class="grey-text text-darken-3">- ASP.NET</p>
                                                    <p class="grey-text text-darken-3">- Entity framework</p>
                                                    <p class="grey-text text-darken-3">- AngularJS</p>
                                                    <p class="grey-text text-darken-3">- JavaScript</p>
                                                    <p class="grey-text text-darken-3">- Bootstrap</p>
                                                    <p class="grey-text text-darken-3">- HTML/CSS</p>
                                                    <p class="grey-text text-darken-3">- Responsive web design</p>
                                                    <p class="grey-text text-darken-3">- SQL Server</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col s12 m4 l4">
                                            <div class="card grey lighten-4">
                                                <div class="card-content">
                                                    <span class="card-title activator grey-text text-darken-4" style="color: #727272 !important; font-size: 15px; margin-bottom: -10px;">Feb/2015 - Jul/2015
                                                </div>
                                                <div class="card-image waves-effect waves-block waves-light">
                                                    <img class="activator" src="images/pf1.jpg">
                                                </div>
                                                <div class="card-content">
                                                    <span class="card-title activator grey-text text-darken-4" style="color: #00bcd4 !important; font-size: 16px">Android Developer<i class="material-icons right">more_vert</i></span>
                                                    <p style="color: #727272;font-size: 15px">SHARP PROJECT</p>
                                                </div>
                                                <div class="card-reveal experience_bg_item">
                                                    <span class="card-title grey-text text-darken-4" style="color: #00bcd4 !important; font-size: 16px">Android Developer<i class="material-icons right">close</i></span>
                                                    <p style="color: #727272;font-size: 15px">SHARP PROJECT</p>
                                                    <div style="height:2px; background-color: #727272;"></div>
                                                    <br>
                                                    <p class="grey-text text-darken-3">- Java</p>
                                                    <p class="grey-text text-darken-3">- XML</p>
                                                    <p class="grey-text text-darken-3">- SQLite</p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--________________________end work experience_________________________-->

                        <br>
                        <div role="tabpanel" data-example-id="togglable-tabs">
                            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">
                                        <span class="skill_tabs_box">SKILLS</span>
                                    </a>
                                </li>
                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                                    <div class="x_panel">
                                        <div class="x_content">
                                            <div id="skillsChart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--________________________end skills_________________________-->

                        <br>
                        <div role="tabpanel" data-example-id="togglable-tabs">
                            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">
                                        <span class="skill_tabs_box">LANGUAGES</span>
                                    </a>
                                </li>
                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                                    <div class="x_panel">
                                        <div class="x_content">
                                            <div id="languagesChart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--________________________end languges_________________________-->

                        <br>
                        <div role="tabpanel" data-example-id="togglable-tabs">
                            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">
                                        <span class="skill_tabs_box">EDUCATION & COURSES</span>
                                    </a>
                                </li>
                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                                    <div class="row">
                                        <div class="col s12 m4 l4">
                                            <div class="card grey lighten-4">
                                                <div class="card-content">
                                                    <span class="card-title activator grey-text text-darken-4" style="color: #727272 !important; font-size: 15px; margin-bottom: -10px;">Apr/2017
                                                </div>
                                                <div class="card-image waves-effect waves-block waves-light">
                                                    <img class="activator" src="images/grad-cap.png">
                                                </div>
                                                <div class="card-content">
                                                    <span class="card-title activator grey-text text-darken-4" style="color: #00bcd4 !important; font-size: 16px">NodeJS & Express<i class="material-icons right">more_vert</i></span>
                                                    <p style="color: #727272;font-size: 15px">Course</p>
                                                </div>
                                                <div class="card-reveal experience_bg_item">
                                                    <span class="card-title grey-text text-darken-4" style="color: #00bcd4 !important; font-size: 16px">NodeJS & Express<i class="material-icons right">close</i></span>
                                                    <p style="color: #727272;font-size: 15px">Course</p>
                                                    <div style="height:2px; background-color: #727272;"></div>
                                                    <br>
                                                    <p class="grey-text text-darken-3"> Location:</p>
                                                    <p class="grey-text text-darken-3"> - TMA Solutions, Ho Chi Minh, Vietnam.</p>
                                                    <p class="grey-text text-darken-3"> Content:</p>
                                                    <p class="grey-text text-darken-3">- Introduce about NodeJS.</p>
                                                    <p class="grey-text text-darken-3">- Building website with NodeJS and Express framework.</p>
                                                    <p class="grey-text text-darken-3">- Working with Socket IO.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col s12 m4 l4">
                                            <div class="card grey lighten-4">
                                                <div class="card-content">
                                                    <span class="card-title activator grey-text text-darken-4" style="color: #727272 !important; font-size: 15px; margin-bottom: -10px;">Oct/2016
                                                </div>
                                                <div class="card-image waves-effect waves-block waves-light">
                                                    <img class="activator" src="images/grad-cap.png">
                                                </div>
                                                <div class="card-content">
                                                    <span class="card-title activator grey-text text-darken-4" style="color: #00bcd4 !important; font-size: 16px">AngularJS 2<i class="material-icons right">more_vert</i></span>
                                                    <p style="color: #727272;font-size: 15px">Course</p>
                                                </div>
                                                <div class="card-reveal experience_bg_item">
                                                    <span class="card-title grey-text text-darken-4" style="color: #00bcd4 !important; font-size: 16px">AngularJS 2<i class="material-icons right">close</i></span>
                                                    <p style="color: #727272;font-size: 15px">Course</p>
                                                    <div style="height:2px; background-color: #727272;"></div>
                                                    <br>
                                                    <p class="grey-text text-darken-3"> Location:</p>
                                                    <p class="grey-text text-darken-3"> - TMA Solutions, Ho Chi Minh, Vietnam.</p>
                                                    <p class="grey-text text-darken-3"> Content:</p>
                                                    <p class="grey-text text-darken-3">- Introduce about TypeScript 6.</p>
                                                    <p class="grey-text text-darken-3">- Building website with AngularJS 2.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col s12 m4 l4">
                                            <div class="card grey lighten-4">
                                                <div class="card-content">
                                                    <span class="card-title activator grey-text text-darken-4" style="color: #727272 !important; font-size: 15px; margin-bottom: -10px;">May/2016
                                                </div>
                                                <div class="card-image waves-effect waves-block waves-light">
                                                    <img class="activator" src="images/grad-cap.png">
                                                </div>
                                                <div class="card-content">
                                                    <span class="card-title activator grey-text text-darken-4" style="color: #00bcd4 !important; font-size: 16px">OOP<i class="material-icons right">more_vert</i></span>
                                                    <p style="color: #727272;font-size: 15px">Course</p>
                                                </div>
                                                <div class="card-reveal experience_bg_item">
                                                    <span class="card-title grey-text text-darken-4" style="color: #00bcd4 !important; font-size: 16px">OOP<i class="material-icons right">close</i></span>
                                                    <p style="color: #727272;font-size: 15px">Course</p>
                                                    <div style="height:2px; background-color: #727272;"></div>
                                                    <br>
                                                    <p class="grey-text text-darken-3"> Location:</p>
                                                    <p class="grey-text text-darken-3"> - TMA Solutions, Ho Chi Minh, Vietnam.</p>
                                                    <p class="grey-text text-darken-3"> Content:</p>
                                                    <p class="grey-text text-darken-3"> - Object oriented design principles.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col s12 m4 l4">
                                            <div class="card grey lighten-4">
                                                <div class="card-content">
                                                    <span class="card-title activator grey-text text-darken-4" style="color: #727272 !important; font-size: 15px; margin-bottom: -10px;">Oct/2015
                                                </div>
                                                <div class="card-image waves-effect waves-block waves-light">
                                                    <img class="activator" src="images/grad-cap.png">
                                                </div>
                                                <div class="card-content">
                                                    <span class="card-title activator grey-text text-darken-4" style="color: #00bcd4 !important; font-size: 16px">Android Developer<i class="material-icons right">more_vert</i></span>
                                                    <p style="color: #727272;font-size: 15px">Course</p>
                                                </div>
                                                <div class="card-reveal experience_bg_item">
                                                    <span class="card-title grey-text text-darken-4" style="color: #00bcd4 !important; font-size: 16px">Android Developer<i class="material-icons right">close</i></span>
                                                    <p style="color: #727272;font-size: 15px">Course</p>
                                                    <div style="height:2px; background-color: #727272;"></div>
                                                    <br>
                                                    <p class="grey-text text-darken-3"> Location:</p>
                                                    <p class="grey-text text-darken-3"> - Computer Science Center – University of Natural Science.</p>
                                                    <p class="grey-text text-darken-3"> Content:</p>
                                                    <p class="grey-text text-darken-3">- Building application: 'Beautiful Location'.</p>
                                                    <p class="grey-text text-darken-3"> Grade: 7.5</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col s12 m4 l4">
                                            <div class="card grey lighten-4">
                                                <div class="card-content">
                                                    <span class="card-title activator grey-text text-darken-4" style="color: #727272 !important; font-size: 15px; margin-bottom: -10px;">Jan/2015
                                                </div>
                                                <div class="card-image waves-effect waves-block waves-light">
                                                    <img class="activator" src="images/grad-cap.png">
                                                </div>
                                                <div class="card-content">
                                                    <span class="card-title activator grey-text text-darken-4" style="color: #00bcd4 !important; font-size: 16px">Mobile Developer<i class="material-icons right">more_vert</i></span>
                                                    <p style="color: #727272;font-size: 15px">Course</p>
                                                </div>
                                                <div class="card-reveal experience_bg_item">
                                                    <span class="card-title grey-text text-darken-4" style="color: #00bcd4 !important; font-size: 16px">Mobile Developer<i class="material-icons right">close</i></span>
                                                    <p style="color: #727272;font-size: 15px">Course</p>
                                                    <div style="height:2px; background-color: #727272;"></div>
                                                    <br>
                                                    <p class="grey-text text-darken-3"> Location:</p>
                                                    <p class="grey-text text-darken-3"> - TTC Center, Ho Chi Minh, Vietnam.</p>
                                                    <p class="grey-text text-darken-3"> Content:</p>
                                                    <p class="grey-text text-darken-3">- Building application: 'Music MP3'.</p>
                                                    <p class="grey-text text-darken-3"> Grade: Good.</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col s12 m4 l4">
                                            <div class="card grey lighten-4">
                                                <div class="card-content">
                                                    <span class="card-title activator grey-text text-darken-4" style="color: #727272 !important; font-size: 15px; margin-bottom: -10px;">2010-2014
                                                </div>
                                                <div class="card-image waves-effect waves-block waves-light">
                                                    <img class="activator" src="images/grad-cap.png">
                                                </div>
                                                <div class="card-content">
                                                    <span class="card-title activator grey-text text-darken-4" style="color: #00bcd4 !important; font-size: 16px">Student<i class="material-icons right">more_vert</i></span>
                                                    <p style="color: #727272;font-size: 15px">Education</p>
                                                </div>
                                                <div class="card-reveal experience_bg_item">
                                                    <span class="card-title grey-text text-darken-4" style="color: #00bcd4 !important; font-size: 16px">Student<i class="material-icons right">close</i></span>
                                                    <p style="color: #727272;font-size: 15px">Education</p>
                                                    <div style="height:2px; background-color: #727272;"></div>
                                                    <br>
                                                    <p class="grey-text text-darken-3"> University:</p>
                                                    <p class="grey-text text-darken-3"> - University of Technical Education, Ho Chi Minh, Vietnam.</p>
                                                    <p class="grey-text text-darken-3"> - Bachelor of Technology Education.</p>
                                                    <p class="grey-text text-darken-3"> Major:</p>
                                                    <p class="grey-text text-darken-3">- Software Technology.</p>
                                                    <p class="grey-text text-darken-3"> Grade: Good</p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--________________________end education & courses_________________________-->

                        <br>
                        <div role="tabpanel" data-example-id="togglable-tabs" id="contact">
                            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">
                                        <span class="skill_tabs_box">CONTACT</span>
                                    </a>
                                </li>
                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                                    <div class="row">
                                        <div class="col s12 m12 l12">
                                            <div class="card grey lighten-4">
                                                <div id="googleMap" style="height: 320px;">Google Map</div>
                                            </div>
                                        </div>

                                        <div class="col s12 m12 l12">
                                            <form action="/" method="POST">
                                                <div class="card">
                                                    <div class="input-field col s12 m12 l12">
                                                        <i class="material-icons prefix">account_circle</i>
                                                        <input class="validate" id="full_name" name="full_name" type="text">
                                                        <label for="full_name">Full Name</label>
                                                    </div>
                                                    <div class="input-field col s12 m12 l12">
                                                        <i class="material-icons prefix">email</i>
                                                        <input id="email" name="email" type="email" class="validate">
                                                        <label for="email" data-error="Invalid email">Email</label>
                                                    </div>
                                                    <div class="input-field col s12 m12 l12">
                                                        <i class="material-icons prefix">mode_edit</i>
                                                        <input class="validate" id="subject" name="subject" type="text">
                                                        <label for="subject">Subject</label>
                                                    </div>
                                                    <div class="input-field col s12 m12 l12">
                                                        <i class="material-icons prefix">mode_edit</i>
                                                        <textarea id="message" name="message" class="materialize-textarea"></textarea>
                                                        <label for="message">Message</label>
                                                    </div>
                                                    <button class="btn waves-effect waves-light right" type="submit" name="action" style="margin:10px">
                                                        SEND MESSAGE
                                                    </button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--________________________end contact_________________________-->

                    </div>
                </div>

            </div>
        </div>
    </div>