

/********************************** home page **********************************/
.home-content {
    color: #fff;
    align-items: center;
    vertical-align: middle;
}

.home-title {
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.home-subtitle {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 38px;
    text-transform: uppercase;
}

/**************************about me***************************8*/
.about-subtitle {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #00bcd4;
}

.about-info {
    color: #727272;
    font-size: 16px;
    line-height: 28px;
}





.card-introdution-title {
    color: rgba(0,0,0,.54) !important;
    font-size: 1rem;
    line-height: 18px;
    overflow: hidden;
    padding: 16px;
    width: 90%;
}

